{% extends "base.j2" %}

{% from "links.j2" import tag_link, user_link with context %}

{% block title %}{{ writeup.title }}{% endblock title %}
{% block og_title %}{{ writeup.title }}{% endblock %}

{% block header_content %}
    <div class="article-meta">
        <h2>{{ writeup.title }}</h2>
        <h4 class="author">By: {{ user_link(writeup.author.username) }}</h4>
        <h4 class="date">{{ writeup.creation_date }}</h4>
        <div class="tags">
            {% for tag in writeup.tags %}
                {{ tag_link(tag) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block content %}
    {% if can_edit(request, writeup) %}
        <a class="pure-button pure-button-primary" href="{{ url_for("EditWriteup", id=writeup.id) }}">Edit</a>
        <a class="pure-button button-danger" href="{{ url_for("delete", id=writeup.id) }}" onclick="return confirm('are you sure?')">Delete</a>
        <br />
        <br />
    {% endif %}
    {{ rendered | safe }}
{% endblock %}
