[Unit]
Description=LUHack Discord bot
After=multi-user.target

[Service]
Type=simple
User=bsimms
ExecStart=/home/bsimms/.cache/pypoetry/virtualenvs/luhack-bot-py3.7/bin/python /home/bsimms/.poetry/bin/poetry run start_bot
Restart=always
RestartSec=5
WorkingDirectory=/home/bsimms/luhack_bot

[Install]
WantedBy=multi-user.target
