[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
discord = {editable = true, ref = "rewrite", git = "https://github.com/rapptz/discord.py"}
pycrypto = "*"
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "3.7"
