[Unit]
Description=LUHack Writeups
After=multi-user.target

[Service]
Type=simple
User=bsimms
ExecStart=/home/bsimms/.poetry/bin/poetry run uvicorn --proxy-headers --port 9999 luhack_site.site:app
Restart=always
RestartSec=5
WorkingDirectory=/home/bsimms/luhack_bot

[Install]
WantedBy=multi-user.target
