{% extends "base.j2" %}

{% block og_title %}LUHack Writeups{% endblock %}
{% block og_description %}CTF writeups made by LUHack members.{% endblock %}

{% block title %}LUHack Writeups{% endblock %}

{% block nav_cont %}
    <a href="{{ url_for("writeups_all_tags") }}">Tag List</a>
    {% if request.user.is_admin %}
      <a href="{{ url_for("NewWriteup") }}">New Writeup</a>
    {% endif %}

{% endblock %}

{% block search_bar %}
    <form class="pure-form" method="GET" action="{{ url_for("writeups_search") }}">
        <input name="search" class="search-bar" id="search-bar" type="search" autocomplete="off" placeholder="Search blogs" value="{{ query }}">
    </form>
{% endblock %}
