{% extends "base.j2" %}

{% block title %}LUHack Writeups{% endblock %}

{% block nav %}
    <ul class="nav-list">
        <li class="nav-item">
            <a class="pure-button" href="{{ url_for("index") }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="pure-button" href="{{ url_for("writeups_index") }}">Writeups</a>
        </li>
        <li class="nav-item">
            <a class="pure-button" href="{{ url_for("writeups_all_tags") }}">Tags</a>
        </li>
        <li class="nav-item">
            <a class="pure-button" href="{{ url_for("NewWriteup") }}">New</a>
        </li>
    </ul>
{% endblock %}

{% block search_bar %}
    <form class="pure-form" method="GET" action="/search">
        <input name="search" id="search-bar" type="search" autocomplete="off" placeholder="Search writeups" value="{{ query }}">
    </form>
{% endblock %}
