{% extends "base.j2" %}

{% block og_title %}LUHack Writeups{% endblock %}
{% block og_description %}CTF writeups made by LUHack members.{% endblock %}

{% block title %}LUHack Writeups{% endblock %}

{% block nav_cont %}
    <br />
    <li class="nav-item">
        <a class="button" href="{{ url_for("writeups_all_tags") }}">Tag List</a>
    </li>
    <li class="nav-item">
        <a class="button" href="{{ url_for("NewWriteup") }}">New Writeup</a>
    </li>
{% endblock %}

{% block search_bar %}
    <form class="pure-form" method="GET" action="{{ url_for("writeups_search") }}">
        <input name="search" id="search-bar" type="search" autocomplete="off" placeholder="Search writeups" value="{{ query }}">
    </form>
{% endblock %}
