{% from "writeups/links.j2" import tag_link, user_link with context %}

{% macro writeup_preview(writeup, content, url) -%}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ url }}">{{ writeup.title }}</a></h2>
            <p class="post-meta">
                <span class="author">
                {% if writeup.author_id %}
                    {{ user_link(writeup.author.username) }}
                {% endif %}
                </span>
                                {{ writeup.creation_date.strftime('%d/%m/%Y') }}
            </p>
            <div class="tags">
{% for tag in writeup.tags -%}
                    {{ tag_link(tag) }}
                {%- endfor %}
</div>
        </header>
        <div class="post-description">
            <p>
                {{ content | safe }}
            </p>
        </div>
    </section>
{%- endmacro %}
