{% from "writeups/links.j2" import tag_link, user_link with context %}

{% macro writeup_preview(writeup, content, url) -%}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ url }}">{{ writeup.title }}</a></h2>
            <p class="post-meta">
                {% if writeup.author_id %}
                    Posted by {{ user_link(writeup.author.username) }} on {{ writeup.creation_date }}
                {% else %}
                    Posted on {{ writeup.creation_date }}
                {% endif %}
                {% for tag in writeup.tags -%}
                    {% if loop.first %}
                        under
                    {% endif %}
                    {{ tag_link(tag) }}
                {%- endfor %}
            </p>
        </header>
        <div class="post-description">
            <p>
                {{ content | safe }}
            </p>
        </div>
    </section>
{%- endmacro %}
