{% extends "writeups/base.j2" %}

{% from "writeups/links.j2" import tag_link with context %}

{% block content %}
    {% for tag in tags -%}
        {{ tag_link(tag)  }}
    {%- endfor %}
{% endblock %}
