{% extends "writeups/base.j2" %}

{% from "writeups/links.j2" import tag_link, user_link with context %}
{% from "writeups/article_meta.j2" import article_meta with context %}

{% block meta %}
    {{ super() }}
    {{ article_meta(writeup.author.username if writeup.author_id else "Anonymous", writeup.title, writeup.creation_date, writeup.edit_date) }}
{% endblock %}

{% block title %}LUHack Writeup: {{ writeup.title }}{% endblock title %}
{% block og_title %}{{ writeup.title }}{% endblock %}

{% block style %}
    {{ super() }}
    <script defer src="{{ url_for('static', path="/js/base.js") }}"></script>
{% endblock %}

{% block header_content %}
    <div class="article-meta">
        <h2>{{ writeup.title }}</h2>
        {% if writeup.author_id %}
            <h4 class="author">By: {{ user_link(writeup.author.username) }}</h4>
        {% endif %}
        <h4 class="date">{{ writeup.creation_date }}</h4>
        <div class="tags">
            {% for tag in writeup.tags %}
                {{ tag_link(tag) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block content %}
    {% if can_edit(request, writeup.author_id) %}
        <a class="pure-button pure-button-primary" href="{{ url_for("EditWriteup", id=writeup.id) }}">Edit</a>
        <a class="pure-button button-danger" href="{{ url_for("writeups_delete", id=writeup.id) }}" data-confirm="are you sure?">Delete</a>
        <br />
        <br />
    {% endif %}
    {{ rendered | safe }}
{% endblock %}
