{% extends "writeups/base.j2" %}

{% from "writeups/links.j2" import tag_link, user_link with context %}
{% from "writeups/article_meta.j2" import article_meta with context %}

{% block meta %}
    {{ super() }}
    {{ article_meta(writeup.author.username if writeup.author_id else "Anonymous", writeup.title, writeup.creation_date, writeup.edit_date) }}
{% endblock %}

{% block title %}LUHack Writeup: {{ writeup.title }}{% endblock title %}
{% block og_title %}{{ writeup.title }}{% endblock %}

{% block style %}
    {{ super() }}
    <script defer src="{{ url_for('static', path="/js/base.js") }}"></script>
{% endblock %}

{% block header_content %}
{% endblock %}


{% block content %}
  <h1 class="page-title">{{ writeup.title }}</h1>

  <article>
    {% if can_edit(request, writeup.author_id) %}
      <div class="admin-options">
        <a class="pure-button button-danger" href="{{ url_for("writeups_delete", id=writeup.id) }}" data-confirm="are you sure?">Delete</a>
        <a class="pure-button pure-button-primary" href="{{ url_for("EditWriteup", id=writeup.id) }}">Edit</a>
      </div>
    {% endif %}

    <div class="article-meta">
        {% if writeup.author_id %}
            <h4 class="author">By: {{ user_link(writeup.author.username) }}</h4>
        {% endif %}
        <h4 class="date">{{ writeup.creation_date.strftime('%d/%m/%Y') }}</h4>
    </div>
        <div class="tags">
            {% for tag in writeup.tags %}
                {{ tag_link(tag) }}
            {% endfor %}
        </div>

    {{ rendered | safe }}
  </article>
{% endblock %}
