<!DOCTYPE html>
<html>
    <head>
        {%- block head %}
            {%- block meta %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="google-site-verification" content="KxBie6T6uw1Iexm0-tldr4zEIM4zAUdDLF9N_t97cIE" />
                <meta name="description" content="{% block og_description %}A group of Lancaster University Students interested in all things Computer Security.{% endblock %}">
                <meta property="og:title" content="{% block og_title %}LUHack{% endblock %}">
                <meta property="og:type" content="{% block og_type %}website{% endblock %}">
                <meta property="og:image" content="{{ url_for("static", path="/images/logo_small.png") }}">
                <meta property="og:url" content="{{ request.get_full_path }}">
                <meta property="og:site_name" content="LUHack">
                <meta property="og:description" content="{{ self.og_description() }}">
                <link rel="canonical" href="https://scc-luhack.lancs.ac.uk/">
                <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ url_for("static", path="/images/apple-touch-icon-57x57.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for("static", path="/images/apple-touch-icon-114x114.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for("static", path="/images/apple-touch-icon-72x72.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for("static", path="/images/apple-touch-icon-144x144.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ url_for("static", path="/images/apple-touch-icon-60x60.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ url_for("static", path="/images/apple-touch-icon-120x120.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ url_for("static", path="/images/apple-touch-icon-76x76.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for("static", path="/images/apple-touch-icon-152x152.png") }}" />
                <link rel="icon" type="image/png" href="{{ url_for("static", path="/images/favicon-196x196.png") }}" sizes="196x196" />
                <link rel="icon" type="image/png" href="{{ url_for("static", path="/images/favicon-96x96.png") }}" sizes="96x96" />
                <link rel="icon" type="image/png" href="{{ url_for("static", path="/images/favicon-32x32.png") }}" sizes="32x32" />
                <link rel="icon" type="image/png" href="{{ url_for("static", path="/images/favicon-16x16.png") }}" sizes="16x16" />
                <link rel="icon" type="image/png" href="{{ url_for("static", path="/images/favicon-128.png") }}" sizes="128x128" />
                <meta name="application-name" content="LUHack"/>
                <meta name="msapplication-TileColor" content="#FFFFFF" />
                <meta name="msapplication-TileImage" content="{{ url_for("static", path="/images/mstile-144x144.png") }}" />
                <meta name="msapplication-square70x70logo" content="{{ url_for("static", path="/images/mstile-70x70.png") }}" />
                <meta name="msapplication-square150x150logo" content="{{ url_for("static", path="/images/mstile-150x150.png") }}" />
                <meta name="msapplication-wide310x150logo" content="{{ url_for("static", path="/images/mstile-310x150.png") }}" />
                <meta name="msapplication-square310x310logo" content="{{ url_for("static", path="/images/mstile-310x310.png") }}" />
            {%- endblock meta %}
            <title>{% block title %}LUHack{% endblock title %}</title>
            {%- block style %}
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css" integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css" integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
                <link rel="stylesheet" href="{{ url_for('static', path="/css/main.css") }}">
                <link rel="stylesheet" href="{{ url_for('static', path="/css/highlight.min.css") }}">
            {%- endblock style %}
        {%- endblock head %}
    </head>
    <body>
      {%- block body %}
        <nav class="main">
          <a href="https://luhack.uk/" id="logo">
            <svg
              height="2rem"
              width="1.5rem"
              viewBox="0 0 134 190"
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              fill-rule="evenodd"
              clip-rule="evenodd"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="1.5"
            >
              <g stroke="#ddd">
                <path
                  d="m34 73 1-33C35 22 50 8 67 8c14 0 27 10 31 24m27 70v57c0 13-10 23-22 23H31c-13 0-23-10-23-23v-57c0-12 10-23 23-23h72c12 0 22 11 22 23Z"
                  fill="none"
                  stroke-width="15.6"
                />
                <g fill="#ddd" stroke-width="3.9">
                  <path
                    d="M65 130c-6-1-11-6-11-12 0-7 6-13 13-13s13 6 13 13c0 6-5 11-11 12"
                  />
                  <path d="M72 126v19H62v-19" />
                </g>
              </g>
            </svg>
          </a>
        
          <input type="checkbox" id="nav-toggle" />
          <div id="main-nav">
            <a href="https://discord.com/invite/SjQSnQ9">Join in</a>
            <a href="https://luhack.uk/talks">Give a talk</a>
            <a href="https://luhack.uk/sponsors">Sponsor us</a>
            <a href="https://scc-luhack.lancs.ac.uk/challenges/">Challenges</a>
            <a href="https://scc-luhack.lancs.ac.uk/writeups">Blog</a>
            <a href="https://slides.luhack.uk">Slides</a>
          </div>
          <label for="nav-toggle" id="burger">
            <svg
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              fill-rule="evenodd"
              clip-rule="evenodd"
              stroke-linejoin="round"
              stroke-miterlimit="2"
            >
              <path fill="#ddd" d="M8 44h48v6H8zm0-15h48v6H8zm0-15h48v6H8z" />
            </svg>
          </label>
        </nav>
        <header class="app-header">
          {% block nav %}
            {% block nav_cont %}{% endblock nav_cont %}
          {% endblock nav %}
          {% block search_bar %}{% endblock search_bar %}
          {%- block header_content %}{% endblock header_content %}
          {% if request.user.is_authenticated %}
              <a href="{{ url_for("logout") }}" title="Log Out">Authed as: {{ request.user.username }}</a>
          {% else %}
              <a href="{{ url_for("sign_in") }}" title="Sign In">Sign In</a>
          {% endif %}
        </header>
        <main>
          {%- block content %}{% endblock content %}
        </main>
        {%- block script %}{% endblock script %}
      {%- endblock body %}
    </body>
</html>
