<!DOCTYPE html>
<html>
    <head>
        {%- block head %}
            {%- block meta %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="google-site-verification" content="KxBie6T6uw1Iexm0-tldr4zEIM4zAUdDLF9N_t97cIE" />
                <meta name="description" content="{% block og_description %}A group of Lancaster University Students interested in all things Computer Security.{% endblock %}">
                <meta property="og:title" content="{% block og_title %}LUHack{% endblock %}">
                <meta property="og:type" content="{% block og_type %}website{% endblock %}">
                <meta property="og:image" content="{{ url_for("static", path="/images/logo_small.png") }}">
                <meta property="og:url" content="{{ request.get_full_path }}">
                <meta property="og:site_name" content="LUHack">
                <meta property="og:description" content="{{ self.og_description() }}">
                <link rel="canonical" href="https://luhack.lancs.ac.uk/">
                <script type="application/ld+json">
                 {
                     "@context": "https://schema.org",
                     "@type": "WebSite",
                     "url": "{{ url_for("index") }}",
                     "potentialAction": {
                         "@type": "SearchAction",
                         "target": "{{ url_for("writeups_search") }}?search={search_term_string}",
                         "query-input": "required name=search_term_string"
                     }
                 }
                </script>
                <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-KH9FV5M');</script>
                <!-- End Google Tag Manager -->
            {%- endblock meta %}
            <title>{% block title %}LUHack{% endblock title %}</title>
            {%- block style %}
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv" crossorigin="anonymous">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
                <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
                <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
                <link rel="stylesheet" href="{{ url_for('static', path="/css/main.css") }}">
                <link rel="stylesheet" href="{{ url_for('static', path="/css/highlight.min.css") }}">
            {%- endblock style %}
        {%- endblock head %}
    </head>
    <body>
        <div class="with-sidebar">
            {%- block body %}
                <div class="fill-height">
                    <div id="menu" class="sidebar">
                        <div class="header">
                            <h1 class="brand-title">
                                <a class="logo" href="{{ url_for("index") }}">
                                    <img src="{{ url_for('static', path="/images/luhack_logo.png") }}" alt="LUHack logo" width="100%" />
                                    <!-- <span class="logo-a">LU</span> <span class="logo-b">Hack</span> -->
                                </a>
                            </h1>
                            <nav class="nav">
                                {% block nav %}
                                    <ul class="nav-list">
                                        <li class="nav-item">
                                            <a class="button" href="{{ url_for("index") }}">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="button" href="{{ url_for("writeups_index") }}">Writeups</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="button" href="{{ url_for("blog_index") }}">Blog Posts</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="button" href="{{ url_for("challenge_index") }}">Challenges</a>
                                        </li>
                                        {% block nav_cont %}{% endblock nav_cont %}
                                    </ul>
                                {% endblock nav %}
                            </nav>

                            <br />

                            {% block search_bar %}{% endblock search_bar %}

                            <div class="header-content">
                                {%- block header_content %}{% endblock header_content %}
                            </div>
                        </div>
                        <div class="footer">
                            <div class="legal">
                                <div class="">
                                    {% if request.user.is_authenticated %}
                                        <a href="{{ url_for("logout") }}" title="Log Out">Authed as: {{ request.user.username }}</a>
                                    {% else %}
                                        <a href="{{ url_for("sign_in") }}" title="Sign In">Sign In</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="not-sidebar">
                        <main>
                            {%- block content %}{% endblock content %}
                        </main>
                    </div>
                </div>
                {%- block script %}{% endblock script %}
            {%- endblock body %}
        </div>
    </body>
</html>
