<!DOCTYPE html>
<html>
    <head>
        {%- block head %}
            {%- block meta %}
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="google-site-verification" content="KxBie6T6uw1Iexm0-tldr4zEIM4zAUdDLF9N_t97cIE" />
                <meta name="description" content="{% block og_description %}A group of Lancaster University Students interested in all things Computer Security.{% endblock %}">
                <meta property="og:title" content="{% block og_title %}LUHack{% endblock %}">
                <meta property="og:type" content="{% block og_type %}website{% endblock %}">
                <meta property="og:image" content="{{ url_for("static", path="/images/logo_small.png") }}">
                <meta property="og:url" content="{{ request.get_full_path }}">
                <meta property="og:site_name" content="LUHack">
                <meta property="og:description" content="{{ self.og_description() }}">
                <link rel="canonical" href="https://scc-luhack.lancs.ac.uk/">
                <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ url_for("static", path="/images/apple-touch-icon-57x57.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for("static", path="/images/apple-touch-icon-114x114.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for("static", path="/images/apple-touch-icon-72x72.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for("static", path="/images/apple-touch-icon-144x144.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ url_for("static", path="/images/apple-touch-icon-60x60.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ url_for("static", path="/images/apple-touch-icon-120x120.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ url_for("static", path="/images/apple-touch-icon-76x76.png") }}" />
                <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for("static", path="/images/apple-touch-icon-152x152.png") }}" />
                <link rel="icon" type="image/png" href="{{ url_for("static", path="/images/favicon-196x196.png") }}" sizes="196x196" />
                <link rel="icon" type="image/png" href="{{ url_for("static", path="/images/favicon-96x96.png") }}" sizes="96x96" />
                <link rel="icon" type="image/png" href="{{ url_for("static", path="/images/favicon-32x32.png") }}" sizes="32x32" />
                <link rel="icon" type="image/png" href="{{ url_for("static", path="/images/favicon-16x16.png") }}" sizes="16x16" />
                <link rel="icon" type="image/png" href="{{ url_for("static", path="/images/favicon-128.png") }}" sizes="128x128" />
                <meta name="application-name" content="LUHack"/>
                <meta name="msapplication-TileColor" content="#FFFFFF" />
                <meta name="msapplication-TileImage" content="{{ url_for("static", path="/images/mstile-144x144.png") }}" />
                <meta name="msapplication-square70x70logo" content="{{ url_for("static", path="/images/mstile-70x70.png") }}" />
                <meta name="msapplication-square150x150logo" content="{{ url_for("static", path="/images/mstile-150x150.png") }}" />
                <meta name="msapplication-wide310x150logo" content="{{ url_for("static", path="/images/mstile-310x150.png") }}" />
                <meta name="msapplication-square310x310logo" content="{{ url_for("static", path="/images/mstile-310x310.png") }}" />
            {%- endblock meta %}
            <title>{% block title %}LUHack{% endblock title %}</title>
            {%- block style %}
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css" integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css" integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
                <link rel="stylesheet" href="{{ url_for('static', path="/css/main.css") }}">
                <link rel="stylesheet" href="{{ url_for('static', path="/css/highlight.min.css") }}">
            {%- endblock style %}
        {%- endblock head %}
    </head>
    <body>
      {%- block body %}
        <nav class="main">
          <a href="https://luhack.uk/" id="logo">

            <svg viewBox="0 0 1000 1000" version="1.1" xml:space="preserve" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimt="2" id="svg6" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
              <defs id="defs6" />
              <path d="m 501.55378,916.88751 c 0,0 -178.3488,-23.92233 -253.71496,-283.35056 -32.45865,-111.7217 13.36805,-231.50361 13.36805,-231.50361 7.69451,-3.65622 138.80057,-65.24397 240.34691,-65.24397 104.12947,0 241.08829,64.67635 241.08829,64.67635 0,0 40.27791,119.90586 9.67272,232.07123 -70.95261,260.0028 -250.76101,283.35056 -250.76101,283.35056 z" 
              clip-rule="evenodd" fill="none" stroke="#ffffff" stroke-width="25" stroke-linejoin="round" stroke-miterlimit="2" stroke-dasharray="none" id="path2" />
              <path d="m 295.46753,387.07026 c -0.10478,-15.82652 -0.30481,-73.66163 -0.30481,-100.93322 0,-118.97448 92.48017,-215.56619 206.38251,-215.56619 110.04463,0 200.08635,90.14291 206.0777,203.52617 0.1143,2.56977 -1.04777,5.0311 -3.09569,6.58211 -2.05744,1.55102 -4.73403,1.99275 -7.17248,1.18092 -22.8319,-7.56107 -75.76344,-25.15648 -90.54655,-30.07018 -2.4194,-0.80585 -4.30539,-2.74288 -5.0293,-5.18929 -13.91632,-45.7226 -47.84508,-84.55766 -101.80534,-84.55766 -72.74395,0 -109.07307,70.57465 -109.07307,133.45194 0,12.22008 0.10478,29.59461 0.26671,58.67589"
              clip-rule="evenodd" fill="none" stroke="#ffffff" stroke-width="25" stroke-linejoin="round" stroke-miterlimit="2" stroke-dasharray="none" id="path3" />
              <path d="m 346.26693,478.8853 h 28.76644 v 188.416 h 103.53818 v 24.21 H 346.26693 Z" 
              clip-rule="evenodd" fill="#fdfdfd" fill-rule="nonzero" stroke-width="1" stroke-linejoin="round" stroke-miterlimit="2" id="path4" />
              <path d="m 490.96001,478.8853 h 28.91342 v 129.171 c 0,22.786 4.12599,39.188 12.38847,49.204 8.26248,10.017 21.64832,15.025 40.15753,15.025 18.42521,0 31.75856,-5.008 40.02104,-15.025 8.26248,-10.016 12.38847,-26.418 12.38847,-49.204 v -129.171 h 28.91342 v 132.731 c 0,27.724 -6.86615,48.659 -20.57746,62.805 -13.7218,14.147 -33.97379,21.22 -60.74547,21.22 -26.86618,0 -47.16016,-7.073 -60.88196,-21.22 -13.72181,-14.146 -20.57746,-35.081 -20.57746,-62.805 z" id="path5"
              clip-rule="evenodd" fill="#fdfdfd" fill-rule="nonzero" stroke-width="1" stroke-linejoin="round" stroke-miterlimit="2" id="path4" />
           </svg>

          </a>

          <input type="checkbox" id="nav-toggle" />
          <div id="main-nav">
            <a href="https://luhack.uk/discord">Discord</a>
            <a href="https://luhack.uk/mail">Mailing list</a>
            <a href="https://luhack.uk/talks">Give a talk</a>
            <a href="https://luhack.uk/contact">Contact us</a>
            <!-- <a href="https://luhack.uk/sponsors">Sponsor us</a> -->
            <a href="https://scc-luhack.lancs.ac.uk/challenges/">Challenges</a>
            <a href="https://scc-luhack.lancs.ac.uk/writeups">Blog</a>
            <a href="https://slides.luhack.uk">Slides</a>
          </div>
          <div>
          <label for="nav-toggle" id="burger">
            <svg
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              fill-rule="evenodd"
              clip-rule="evenodd"
              stroke-linejoin="round"
              stroke-miterlimit="2"
            >
              <path fill="#ddd" d="M8 44h48v6H8zm0-15h48v6H8zm0-15h48v6H8z" />
            </svg>
          </label>
          </div>
        </nav>        <header class="app-header">
          {% block nav %}
            {% block nav_cont %}{% endblock nav_cont %}
          {% endblock nav %}
          {% block search_bar %}{% endblock search_bar %}
          {%- block header_content %}{% endblock header_content %}
          {% if request.user.is_authenticated %}
              <a href="{{ url_for("logout") }}" title="Log Out">Authed as: {{ request.user.username }}</a>
          {% else %}
              <a href="{{ url_for("sign_in") }}" title="Sign In">Sign In</a>
          {% endif %}
        </header>
        <main>
          {%- block content %}{% endblock content %}
        </main>
        {%- block script %}{% endblock script %}
      {%- endblock body %}
    </body>
</html>
