{% extends "base.j2" %}

{% block content %}
    <section id="about" class="fullheight-flex">
        <div class="fullheight-flex-item">
            <h1>LU <span class="logo-red">Hack</span></h1>
            <p>A group of Lancaster University Students interested in all things Computer Security.</p>
            <p>Presidents: Ric Derbyshire (<a href="https://twitter.com/RicDerby">@RicDerby</a>) & James Boorman (<a href="https://twitter.com/DethMetalDuck">@DethMetalDuck</a>)</p>
            <p>
                <a class="button social-icon" href="http://www.facebook.com/groups/LUHack"><i class="fab fa-facebook"></i></a>
                <a class="button social-icon" href="https://twitter.com/LancsUniHackers"><i class="fab fa-twitter"></i></a>
            </p>
        </div>
    </section>
    <section id="meetings" class="fullheight-flex">
        <div class="fullheight-flex-item">
            <h2>Meeting times</h2>
            <p>LUHack meets every Wednesday, 16:00-18:00 in the InfoLab. The venue can change, but is usually D55.</p>
        </div>
    </section>
    <section id="learning-materials" class="fullheight-flex">
        <div class="fullheight-flex-item">
            <h2>Learning Materials</h2>
            <h3>Learning</h3>
            <ul>
                <li><a href="https://dca.immersivelabs.online/" target="_blank">Immersive Labs</a></li>
                <li><a href="https://cybrary.it/" target="_blank">Cybrary</a></li>
                <li><a href="https://github.com/ctfs" target="_blank">CTF Write-ups</a></li>
                <li><a href="https://www.offensive-security.com/metasploit-unleashed/" target="_blank">Metasploit Unleashed</a></li>
                <li><a href="https://beginners.re/" target="_blank">Reverse Engineering for Beginners</a></li>
                <li><a href="https://www.exploit-db.com/" target="_blank">Exploit Database</a></li>
                <li><a href="https://github.com/onlurking/awesome-infosec" target="_blank">Awesome Infosec Resources</a></li>
                <li><a href="https://safeandsavvy.f-secure.com/2017/12/22/so-you-want-to-be-an-ethical-hacker-21-ways/" target="_blank">21 ways to get started as an Ethical Hacker</a></li>
            </ul>

            <h3>CTF / Wargames</h3>
            <ul>
                <li><a href="https://overthewire.org/wargames/" target="_blank">Over The Wire</a></li>
                <li><a href="https://www.hackthissite.org/" target="_blank">Hack This Site</a></li>
                <li><a href="https://microcorruption.com/login" target="_blank">Microcorruption</a></li>
                <li><a href="http://pwnable.kr/" target="_blank">Pwnable</a></li>
                <li><a href="https://www.pentesterlab.com/" target="_blank">Pentester Lab</a></li>
                <li><a href="https://www.vulnhub.com/" target="_blank">Vulnhub</a></li>
                <li><a href="https://exploit-exercises.com/" target="_blank">Exploit Exercises</a></li>
            </ul>

            <h3>News</h3>
            <ul>
                <li><a href="" target="_blank">Threatpost</a></li>
                <li><a href="" target="_blank">Deepdotweb</a></li>
                <li><a href="https://thehackernews.com/" target="_blank">The Hacker News</a></li>
            </ul>
            <h3>Youtube</h3>
            <ul>
                <li><a href="https://www.youtube.com/user/BlackHatOfficialYT" target="_blank">Black Hat</a></li>
                <li><a href="https://www.youtube.com/user/DEFCONConference" target="_blank">DEFConConference</a></li>
            </ul>
            <p></p>
        </div>
    </section>
{% endblock %}
