{% extends "base.j2" %}

{% block content %}
    <article>
    <h2><a href="{{ url_for("sign_in") }}" title="Sign in">You're not authed, sign in with discord by clicking here</a></h2>
    </article>
{% endblock %}
