{% extends "base.j2" %}

{% block og_title %}LUHack Challanges{% endblock %}
{% block og_description %}CTF Challenges made by LUHack.{% endblock %}

{% block title %}LUHack Challenges{% endblock %}

{% block nav_cont %}
    <a href="{{ url_for("challenge_all_tags") }}">Tag List</a>
    {% if request.user.is_admin %}
            <a href="{{ url_for("NewChallenge") }}">New Challenge</a>
    {% endif %}
{% endblock %}
