{% macro challenge_accordion(challenges) -%}
    {% for (year, challenges) in challenges %}
        <details {% if loop.first %}open{% endif %}>
            <summary>{{ year }}</summary>
            {% for (month, challenges) in challenges %}
                <details {% if loop.first %}open{% endif %}>
                    <summary>{{ month }}</summary>
                    <ul class="accordion-list">
                        {% for challenge in challenges %}
                            <li><a href="{{ url_for('challenge_view', slug=challenge.slug) }}">{{ challenge.title }}</a></li>
                        {% endfor %}
                    </ul>
                </details>
            {% endfor %}
        </details>
    {% endfor %}
{%- endmacro %}
