{% from "challenge/links.j2" import tag_link with context %}

{% macro challenge_preview(challenge, content, url, solves, did_solve) -%}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ url }}">{{ challenge.title }}</a></h2>
            <p class="post-meta">
                {% if challenge.hidden %}
                    <span class="post-note-warning">hidden</span>
                {% endif %}
                {% if challenge.depreciated %}
                    <span class="post-note-warning">depreciated</span>
                {% endif %}
                {% if did_solve %}
                    <span class="post-note-good">solved</span>
                {% endif %}
                <span>
                Solved {{ solves }} {{ "time" if solves == 1 else "times" }}
                </span>
                <span>
                {{ challenge.points }} Points
                </span>
                <span>{{ challenge.creation_date.strftime('%d/%m/%Y') }}</span>
            </p>
            <div class="tags">
                            {% for tag in challenge.tags -%}
                    {{ tag_link(tag) }}
                {%- endfor %}
            </div>
        </header>
        <div class="post-description">
            <p>
                {{ content | safe }}
            </p>
        </div>
    </section>
{%- endmacro %}
