{% extends "challenge/base.j2" %}

{% from "challenge/links.j2" import tag_link with context %}
{% from "macros.j2" import with_errors %}

{% block title %}LUHack Challenge: {{ challenge.title }}{% endblock title %}
{% block og_title %}{{ challenge.title }}{% endblock %}

{% block style %}
    {{ super() }}
    <script defer src="{{ url_for('static', path="/js/base.js") }}"></script>
{% endblock %}

{% block header_content %}
    <div class="article-meta">
        <h2>{{ challenge.title }}</h2>
        <h5 class="date">{{ challenge.creation_date }}</h5>
        <h5>Solved {{ solves }} {{ "time" if solves == 1 else "times" }}</h5>
        <h5>{{ challenge.points }} Points</h5>
        {% if challenge.hidden %}
            <div class="tags">
                <span class="post-note-warning-sidebar">hidden</span>
            </div>
            <br/>
        {% endif %}
        {% if challenge.depreciated %}
            <div class="tags">
                <span class="post-note-warning-sidebar">depreciated</span>
            </div>
            <br/>
        {% endif %}
        <div class="tags">
            {% for tag in challenge.tags %}
                {{ tag_link(tag) }}
            {% endfor %}
        </div>

        {% if not solved_challenge %}
            <br />
            <form class="pure-form" method="POST" action="{{ url_for("challenge_submit_answer", id=challenge.id) }}">
                {{ with_errors(submit_form.answer, class="search-bar", placeholder="Flag/Answer") }}
            </form>
        {% else %}
            <h4>Solved!</h4>
        {% endif %}

        {% if challenge.answer %}
            <h5>
                <span data-select-other-content="claim-command">Claim Command: </span>
                <br />
                <span class="codeline"><span id="claim-command" class="selectall">!ch claim {{ challenge.slug }} </span><span data-select-other-content="claim-command">{{ "<answer>" }}</span></span>
            </h5>
        {% else %}
            <h5>
                <span data-select-other-content="claim-command">Claim Command: </span>
                <br />
                <span class="codeline"><span id="claim-command" class="selectall">!ch claim </span><span data-select-other-content="claim-command">{{ "<flag>" }}</span></span>
            </h5>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    {% if can_edit(request) %}
        <a class="pure-button pure-button-primary" href="{{ url_for("EditChallenge", id=challenge.id) }}">Edit</a>
        <a class="pure-button button-danger" href="{{ url_for("challenge_delete", id=challenge.id) }}" data-confirm="are you sure?">Delete</a>
        <br />
        <br />
    {% endif %}
    {{ rendered | safe }}
{% endblock %}
