@import url(https://fonts.bunny.net/css?family=cabin:400);

:root {
  --background: #222;
  --background-mid: #1d1d1d;
  --background-highlight: #111;
  --color: #ddd;
  --red1: #3c0000;
  --red2: #ce4040;
  --red3: #930000;
  --red4: #fbc2b7;
  --font: "Gill Sans", "Gill Sans MT", "Cabin", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--background);
  color: var(--color);
}

article {
  max-width: 100ch;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--red4);
}

a:hover {
  color: var(--red2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  width: 100%;
  text-align: center;
}

h2 {
  margin-top: 4rem;
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
}

button {
  outline: 0;
  border: 0;
  background: var(--red4);
  color: var(--red1);
  font-size: 1.3rem;
  font-family: inherit;
  padding: 0.5rem;
  cursor: pointer;
}

button:hover {
  background: var(--red2);
  color: var(--red1);
}

.page-title, .post-title a{
  color: var(--red2);
}

/*----------------- header -------------------*/

nav {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--background-highlight);
}

nav a {
  color: var(--color);
}

#logo {
  height: 2rem;
  width: 1.5rem;
  margin: 0.7rem;
  margin-left: 2rem;
  display: block;
}

#main-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 4.2rem;
}

#main-nav a {
  margin: 0 1rem;
  font-size: 1.2rem;
}

#nav-toggle {
  display: none;
}

#burger {
  display: none;
  height: 2rem;
  width: 2rem;
  margin: 0.7rem;
  margin-right: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  nav {
    justify-content: space-between;
    align-items: start;
  }
  #burger {
    display: block;
  }
  #nav-toggle:checked ~ #main-nav {
    display: flex;
  }
  #main-nav {
    display: none;
    flex-direction: column;
    margin-right: 0;
  }
  #main-nav a {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
  }
}

/*----------------forms---------------------*/

form textarea,
form input {
  resize: none;
  background-color: var(--background-highlight);
  color: inherit;
  outline: 0;
  border: 0;
  font: inherit;
}

form textarea {
  padding: 0.5rem;
  width: 100%;
  height: 30vh;
}

form input {
  width: calc(100% - 13ch);
}

form button {
  float: right;
}

form label {
  color: var(--red4);
  display: inline-block;
  width: 12ch;
}

/*-------------------nav list------------------*/

nav.item-list {
  width: 60ch;
  margin: auto;
  display: block;
  background-color: var(--background);
}

nav.item-list h2 {
  text-align: left;
  font-size: 1.3rem;
}

/*---------------custom-------------------------*/

.post-category {
  background: var(--red4);
  color: var(--red1);
  padding: 0 1ch;
  margin: 1rem;
  min-width: 10ch;
  text-align: center;
  line-height: 4rem;
  display: inline-block;
}

.post-category:hover {
  background-color: var(--red2);
  color: var(--red1);
}

.post-meta .post-category,
.tags .post-category {
  line-height: 1.5rem;
}

.tags {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.search-bar {
  background: var(--background-highlight);
  color: inherit;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

img {
  max-width: 100%;
  max-height: 75vh;
}

pre code {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  display: block;
  min-height: 2rem;
  padding: 0.5rem;
}

section.solve {
  background-color: var(--background-mid);
  padding: 0.5rem;
}

section.solve .search-bar {
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

.admin-options {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.post-meta,
.article-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.post-description p {
  word-break: break-word;
}

.article-meta h4 {
  width: unset;
}

.app-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--background-mid);
  padding: 0.3rem;
  height:2rem;
}

.app-header a {
  color: var(--color);
  margin: 0 2rem;
}

.pure-form input {
  width: 100%;
  display: block;
}
