{% extends "base.j2" %}

{% block og_title %}LUHack Blogs{% endblock %}
{% block og_description %}Blog Posts made by LUHack.{% endblock %}

{% block title %}LUHack Blog Posts{% endblock %}

{% block nav_cont %}
    <br />
    <li class="nav-item">
        <a class="button" href="{{ url_for("blog_all_tags") }}">Tag List</a>
    </li>
    {% if request.user.is_admin %}
        <li class="nav-item">
            <a class="button" href="{{ url_for("NewBlog") }}">New Blog Post</a>
        </li>
    {% endif %}
{% endblock %}

{% block search_bar %}
    <form class="pure-form" method="GET" action="{{ url_for("blog_search") }}">
        <input name="search" id="search-bar" type="search" autocomplete="off" placeholder="Search blog posts" value="{{ query }}">
    </form>
{% endblock %}
