{% macro blog_accordion(blogs) -%}
    {% for (year, blogs) in blogs %}
        <details {% if loop.first %}open{% endif %}>
            <summary>{{ year }}</summary>
            {% for (month, blogs) in blogs %}
                <details {% if loop.first %}open{% endif %}>
                    <summary>{{ month }}</summary>
                    {% for blog in blogs %}
                        <a href="{{ url_for('blog_view', slug=blog.slug) }}">{{ blog.title }}</a>
                    {% endfor %}
                </details>
            {% endfor %}
        </details>
    {% endfor %}
{%- endmacro %}
