{% extends "blog/base.j2" %}

{% from "macros.j2" import with_errors %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path="/css/tagify.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', path="/css/dropzone.min.css") }}">
    <script defer src="{{ url_for('static', path="/js/tagify.min.js") }}"></script>
    <script defer src="{{ url_for('static', path="/js/dropzone.min.js") }}"></script>
    <script defer src="{{ url_for('static', path="/js/new-post.js") }}"></script>
{% endblock %}

{% block title %}Create new blog{% endblock title %}

{% block content %}
    <form class="pure-form pure-form-aligned" method="POST" action="{{ request.url }}">
        <fieldset>
            <legend>{% block legend %}Create new blog post{% endblock legend %}</legend>

            <div class="pure-control-group">
                {{ form.title.label }}
                {{ with_errors(form.title, ) }}
            </div>
            <div class="pure-control-group">
                {{ form.tags.label }}
                {{ with_errors(form.tags, type="tags", data_tags_whitelist=existing_tags.decode()) }}
            </div>
            <div class="pure-control-group">
                {{ form.content.label }}
                {{ with_errors(form.content, ) }}
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>

    <form action="{{ url_for('image_upload') }}" class="dropzone" id="image-upload-dropzone" data-existing-images="{{ existing_images.decode() }}"></form>
{% endblock %}
