{% from "blog/links.j2" import tag_link with context %}

{% macro blog_preview(blog, content, url) -%}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ url }}">{{ blog.title }}</a></h2>
            <p class="post-meta">
                Posted on {{ blog.creation_date }}
                {% for tag in blog.tags -%}
                    {% if loop.first %}
                        under
                    {% endif %}
                    {{ tag_link(tag) }}
                {%- endfor %}
            </p>
        </header>
        <div class="post-description">
            <p>
                {{ content | safe }}
            </p>
        </div>
    </section>
{%- endmacro %}
