{% extends "blog/base.j2" %}

{% from "blog/links.j2" import tag_link with context %}

{% block title %}{{ blog.title }}{% endblock title %}
{% block og_title %}{{ blog.title }}{% endblock %}

{% block style %}
    {{ super() }}
    <script defer src="{{ url_for('static', path="/js/base.js") }}"></script>
{% endblock %}

{% block header_content %}
    <div class="article-meta">
        <h2>{{ blog.title }}</h2>
        <h4 class="date">{{ blog.creation_date }}</h4>
        <div class="tags">
            {% for tag in blog.tags %}
                {{ tag_link(tag) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if can_edit(request) %}
        <a class="pure-button pure-button-primary" href="{{ url_for("EditBlog", id=blog.id) }}">Edit</a>
        <a class="pure-button button-danger" href="{{ url_for("blog_delete", id=blog.id) }}" data-confirm="are you sure?">Delete</a>
        <br />
        <br />
    {% endif %}
    {{ rendered | safe }}
{% endblock %}
